body{
    background-color: gainsboro;
}
main {
    width: 350px;
    min-height: 425px;
    margin: auto auto;
    
}
.photoinsta {
    width: 350px;
    height: 250px;
    object-fit: contain;
}



.card {
    border: 50px;
    margin-top: 30px;
}
.titulopost{
    display: flex;
    justify-content: space-between;
    
}



