body{
    background-color: gainsboro;
}
main {
    width: 350px;
    min-height: 425px;
    margin: auto auto;
    
}
#photoinsta {
    width: 350px;
    height: 250px; ;
}


#photoinsta2 {
    width: 350px;
    height: 250px; ;
}
#post2 {
    background-color: white;
}
#card {
    border: 50px;
    margin-top: 200px;
}
.titulopost{
    display: flex;
    justify-content: space-between;
    
}



